* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

p {
  font-family: "Roboto", sans-serif;
}

a {
  list-style: none;
  text-decoration: none;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 20px;
  padding-bottom: 15px;
  -webkit-box-shadow: 0 6px 5px rgba(0, 0, 0, 0.75);
          box-shadow: 0 6px 5px rgba(0, 0, 0, 0.75);
}
header img {
  width: 30%;
}

.section-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 60px;
  background-color: #f6f6f6;
}
.section-top .localisation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #eeeeee;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 100%;
}
.section-top .localisation .fa-map-marker-alt {
  font-size: 17px;
  margin-left: -17px;
  margin-right: 20px;
  padding-bottom: 6px;
}
.section-top .recherche {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.section-top .recherche h2 {
  font-family: "Roboto", sans-serif;
  width: 60%;
  text-align: center;
  margin-top: 35px;
  margin-bottom: 15px;
}
.section-top .recherche p {
  padding: 0;
  margin: 0;
  width: 70%;
  text-align: center;
  font-weight: 100;
}
.section-top .recherche .btn {
  background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(#FF79DA, #9356DC);
  padding: 15px;
  border-radius: 30px;
  margin-top: 30px;
}
.section-top .recherche .btn-cta {
  color: #ffffff;
  font-family: "Roboto", sans-serif;
}

.section-middle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 30px;
  margin-left: 20px;
}
.section-middle h3 {
  font-family: "Roboto", sans-serif;
  font-size: 23px;
}
.section-middle .cta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  max-width: 450px;
}
.section-middle .cta-resto, .section-middle .cta-menu, .section-middle .cta-repas {
  background-color: #f6f6f6;
  margin-bottom: 15px;
  border-radius: 15px;
  padding: 10px;
  margin-left: 15px;
}
.section-middle .fct {
  background-color: #9356DC;
  color: #fff;
  border-radius: 50%;
  padding: 5px 9px;
  position: absolute;
  left: 20px;
  font-size: 15px;
}
.section-middle .fa-mobile-alt {
  margin-left: 23px;
  margin-right: 25px;
  font-size: 23px;
  color: grey;
}
.section-middle p {
  font-size: 18px;
}/*# sourceMappingURL=styles.css.map */