* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

p {
  font-family: "Roboto", sans-serif;
}

a {
  list-style: none;
  text-decoration: none;
  color: #000000;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  padding-top: 20px;
  padding-bottom: 15px;
  -webkit-box-shadow: 1px 1px 16px rgba(0, 0, 0, 0.3);
          box-shadow: 1px 1px 16px rgba(0, 0, 0, 0.3);
}
header .logo,
header .logo__resto {
  width: 30%;
}

.spinner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #f6f6f6;
  z-index: 5;
  opacity: 1;
  -webkit-animation: Loader 0.8s 3.3s ease-out both;
          animation: Loader 0.8s 3.3s ease-out both;
}
.spinner p {
  font-family: "Shrikhand", sans-serif;
  font-size: 70px;
  background: -webkit-linear-gradient(#ff79da, #9256dc);
  font-weight: 600;
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
}
.spinner .spinner--O {
  -webkit-animation: AnimateLetter 2s ease-in-out backwards;
          animation: AnimateLetter 2s ease-in-out backwards;
}
.spinner .spinner--M {
  -webkit-animation: AnimateLetter 100ms 2s ease-in-out backwards 4;
          animation: AnimateLetter 100ms 2s ease-in-out backwards 4;
}
.spinner .spinner--F {
  -webkit-animation: AnimateLetter 200ms 2s ease-in-out backwards 4;
          animation: AnimateLetter 200ms 2s ease-in-out backwards 4;
}
.spinner .spinner--last {
  -webkit-animation: AnimateLetter 300ms 2s ease-in-out backwards 4;
          animation: AnimateLetter 300ms 2s ease-in-out backwards 4;
}

.section-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 60px;
  background-color: #f6f6f6;
}
.section-top .localisation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f6f6f6;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 100%;
}
.section-top .localisation .fa-map-marker-alt {
  font-size: 17px;
  margin-left: -17px;
  margin-right: 20px;
  padding-bottom: 6px;
}
.section-top .recherche {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.section-top .recherche h2 {
  font-family: "Roboto", sans-serif;
  width: 60%;
  text-align: center;
  margin-top: 35px;
  margin-bottom: 15px;
}
.section-top .recherche p {
  padding: 0;
  margin: 0;
  width: 70%;
  text-align: center;
  font-weight: 100;
}

.btn {
  background: -webkit-gradient(linear, left top, left bottom, from(#ff79da), to(#9256dc));
  background: linear-gradient(#ff79da, #9256dc);
  padding: 15px;
  border-radius: 30px;
  margin-top: 30px;
  -webkit-box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
  -webkit-transition: ease-in-out 0.3s;
  transition: ease-in-out 0.3s;
}

.btn:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#f390d7), to(#a57ed4));
  background: linear-gradient(#f390d7, #a57ed4);
  -webkit-box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
}

.btn-cta {
  color: #ffffff;
  font-family: "Roboto", sans-serif;
}

.section-middle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 30px;
  margin-bottom: 50px;
}
.section-middle h3 {
  font-family: "Roboto", sans-serif;
  font-size: 25px;
  margin-left: 20px;
}
.section-middle .section-middle__fonction {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.section-middle .cta {
  padding: 20px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
}
.section-middle .cta .cta-resto__texte, .section-middle .cta .cta-repas__texte, .section-middle .cta .cta-menu__texte {
  margin-left: 20px;
}
.section-middle .cta-resto,
.section-middle .cta-menu,
.section-middle .cta-repas {
  background-color: #f6f6f6;
  border-radius: 15px;
  cursor: pointer;
  -webkit-transition: ease-in-out 0.2s;
  transition: ease-in-out 0.2s;
  -webkit-box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.12);
  position: relative;
}
.section-middle .cta-resto:hover,
.section-middle .cta-menu:hover,
.section-middle .cta-repas:hover {
  background-color: #e9ddf8;
}
.section-middle .cta-resto:hover .fa-mobile-alt,
.section-middle .cta-resto:hover .fa-list-ul,
.section-middle .cta-resto:hover .fa-store,
.section-middle .cta-menu:hover .fa-mobile-alt,
.section-middle .cta-menu:hover .fa-list-ul,
.section-middle .cta-menu:hover .fa-store,
.section-middle .cta-repas:hover .fa-mobile-alt,
.section-middle .cta-repas:hover .fa-list-ul,
.section-middle .cta-repas:hover .fa-store {
  color: #9256dc;
}
.section-middle .fct {
  background-color: #9256dc;
  color: #fff;
  border-radius: 50%;
  padding: 5px 9px;
  position: absolute;
  left: -14px;
  font-size: 15px;
}
.section-middle .fa-mobile-alt,
.section-middle .fa-list-ul,
.section-middle .fa-store {
  position: absolute;
  left: 30px;
  color: grey;
}
.section-middle .fa-mobile-alt {
  font-size: 20px;
}
.section-middle .fa-list-ul {
  font-size: 18px;
}
.section-middle .fa-store {
  font-size: 17px;
}
.section-middle p {
  font-size: 18px;
}

.section-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #f6f6f6;
  padding: 25px 20px;
}
.section-bottom .liste-resto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  gap: 20px;
  padding-bottom: 45px;
}
.section-bottom h3 {
  font-family: "Roboto", sans-serif;
  font-size: 25px;
}
.section-bottom .card:hover {
  -webkit-transform: scaleX(1.03) scaleY(1.03);
          transform: scaleX(1.03) scaleY(1.03);
}
.section-bottom .card:hover span {
  color: #9256dc;
}
.section-bottom .card .img-card {
  width: 100%;
  height: 240px;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  -o-object-fit: cover;
     object-fit: cover;
}
.section-bottom .contenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  padding-right: 30px;
  line-height: 25px;
}
.section-bottom .contenu .title-card {
  color: #000000;
  margin-top: 5px;
  margin-bottom: 5px;
}
.section-bottom .contenu span {
  font-weight: 700;
  font-size: 17px;
  -webkit-transition: all ease-in-out 0.2s;
  transition: all ease-in-out 0.2s;
}
.section-bottom .contenu p {
  font-weight: 300;
}
.section-bottom .contenu svg {
  width: 7%;
  overflow: visible;
}
.section-bottom .contenu .fa-heart-main path {
  fill: transparent;
  stroke-width: 25;
  stroke: #000000;
  stroke-dasharray: 1560;
  stroke-dashoffset: 0;
}
.section-bottom .contenu .fa-heart-main:hover path {
  -webkit-animation: AnimateHeartFirst 2s ease-in-out forwards;
          animation: AnimateHeartFirst 2s ease-in-out forwards;
}

.card {
  background-color: #ffffff;
  width: 100%;
  max-width: 450px;
  border-radius: 20px;
  -webkit-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
  position: relative;
  -webkit-box-shadow: 1px 1px 16px rgba(0, 0, 0, 0.3);
          box-shadow: 1px 1px 16px rgba(0, 0, 0, 0.3);
}

figure {
  margin: 0;
  position: relative;
}
figure .nouveau {
  background-color: #99e2d0;
  color: green;
  width: 25%;
  text-align: center;
  padding: 5px;
  position: absolute;
  right: 1rem;
  top: 0;
}

footer {
  padding-top: 5px;
  padding-bottom: 5px;
  margin: 0;
  background-color: #333333;
}
footer .logo-footer {
  color: #fff;
  font-family: "Shrikhand", sans-serif;
  margin-left: 25px;
  font-size: 18px;
}
footer ul {
  padding-left: 25px;
}
footer li {
  list-style: none;
  text-decoration: none;
}
footer li a {
  color: #fff;
  font-family: "Roboto", sans-serif;
  line-height: 27px;
  -webkit-transition: all ease-in-out 0.2s;
  transition: all ease-in-out 0.2s;
}
footer li .fa-utensils,
footer li .fa-hands-helping {
  color: #fff;
}
footer li:hover > * {
  color: #99e2d0;
}
footer .fa-utensils {
  font-size: 15px;
  margin-right: 3px;
}
footer .fa-hands-helping {
  font-size: 11px;
  margin-right: 6px;
}
footer p {
  font-size: 15px;
}
footer li:first-child a {
  margin-left: 5px;
}

.header-resto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
}

.fa-arrow-left {
  color: #000000;
  font-size: 18px;
  margin-right: 90px;
  margin-left: 30px;
}

.resto-francais {
  background-image: url(../assets/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
}

.resto-palette {
  background-image: url(../assets/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
}

.resto-enchantee {
  background-image: url(../assets/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
}

.resto-sens {
  background-image: url(../assets/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
}

.carte-resto {
  padding-top: 190px;
}
.carte-resto .carte-menu {
  background-color: #f6f6f6;
  padding: 10px 0 30px 20px;
}
.carte-resto .carte-menu .carte-menu__EPD {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.carte-resto .carte-menu .entree, .carte-resto .carte-menu .plats, .carte-resto .carte-menu .desserts {
  width: 100%;
}
.carte-resto .carte-menu .btn-cta {
  padding: 15px 40px;
}

.bouton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 20px;
  margin-bottom: 60px;
}

.carte-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f6f6f6;
  padding: 20px 30px 0px 15px;
  border-radius: 40px 40px 0 0;
}
.carte-title h1 {
  font-family: "Shrikhand", sans-serif;
  font-size: 25px;
}
.carte-title .fa-heart-main {
  width: 7%;
  overflow: visible;
}
.carte-title .fa-heart-main path {
  fill: transparent;
  stroke-width: 25;
  stroke: #000000;
  stroke-dasharray: 1560;
  stroke-dashoffset: 0;
}
.carte-title .fa-heart-main:hover path {
  -webkit-animation: AnimateHeartFirst 2s ease-in-out forwards;
          animation: AnimateHeartFirst 2s ease-in-out forwards;
}

.titre-menu {
  padding-left: 10px;
  margin-top: 50px;
}
.titre-menu .title-line {
  display: block;
  border: 2px solid #99e2d0;
  width: 40px;
  margin-top: -10px;
  padding: 0;
}

.titre-menu > p {
  font-weight: 300;
  text-transform: uppercase;
}

.menu-card {
  background-color: #ffffff;
  border-radius: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  margin-right: 20px;
  margin-top: 15px;
  padding: 5px 3px;
  -webkit-box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  position: relative;
  cursor: pointer;
}
.menu-card p {
  margin: 0;
  padding: 5px 10px;
}
.menu-card p:first-child {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.menu-card .fa-check-circle {
  color: #fff;
  font-size: 25px;
}

.menu-card__check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #99e2d0;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 15%;
  border-radius: 0 15px 15px 0;
  -webkit-transform: translateX(110px);
          transform: translateX(110px);
  -webkit-transition: 400ms 50ms ease-in-out;
  transition: 400ms 50ms ease-in-out;
}
.menu-card__check i {
  -webkit-transform: translateX(50px) rotate(0turn);
          transform: translateX(50px) rotate(0turn);
  -webkit-transition: all 350ms 0.2s ease-in-out;
  transition: all 350ms 0.2s ease-in-out;
}

.menu-card:hover .menu-card__check {
  -webkit-transform: translatex(0);
          transform: translatex(0);
}
.menu-card:hover .menu-card__check i {
  -webkit-transform: translateX(0) rotate(1turn);
          transform: translateX(0) rotate(1turn);
}

.menu-card:hover .menu-content {
  width: 85%;
}
.menu-card:hover .menu-content p:first-child {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.titre-plats {
  font-weight: 700;
  font-size: 15px;
}

.menu-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  font-weight: 300;
  -webkit-transition: 400ms 150ms;
  transition: 400ms 150ms;
  overflow: hidden;
  text-overflow: ellipsis;
}

.menu-content p:last-child {
  font-weight: 700;
}

.entree {
  -webkit-transform: translateY(-5%);
          transform: translateY(-5%);
}
.entree .menu-card {
  -webkit-animation-delay: 300ms;
          animation-delay: 300ms;
  -webkit-animation: FadeInBottom 1.3s both;
          animation: FadeInBottom 1.3s both;
}
.entree .menu-card:nth-child(2) {
  -webkit-animation: FadeInBottom 1s both;
          animation: FadeInBottom 1s both;
}
.entree .menu-card:last-child {
  -webkit-animation-delay: 400ms;
          animation-delay: 400ms;
  -webkit-animation: FadeInBottom 1.6s both;
          animation: FadeInBottom 1.6s both;
}

.plats {
  -webkit-transform: translateY(-5%);
          transform: translateY(-5%);
}
.plats .menu-card {
  -webkit-animation-delay: 400ms;
          animation-delay: 400ms;
  -webkit-animation: FadeInBottom 1.3s both;
          animation: FadeInBottom 1.3s both;
}
.plats .menu-card:nth-child(2) {
  -webkit-animation: FadeInBottom 1s both;
          animation: FadeInBottom 1s both;
}
.plats .menu-card:last-child {
  -webkit-animation-delay: 500ms;
          animation-delay: 500ms;
  -webkit-animation: FadeInBottom 1.6s both;
          animation: FadeInBottom 1.6s both;
}

.desserts {
  -webkit-transform: translateY(-5%);
          transform: translateY(-5%);
}
.desserts .menu-card {
  -webkit-animation-delay: 500ms;
          animation-delay: 500ms;
  -webkit-animation: FadeInBottom 1.3s both;
          animation: FadeInBottom 1.3s both;
}
.desserts .menu-card:nth-child(2) {
  -webkit-animation: FadeInBottom 1s both;
          animation: FadeInBottom 1s both;
}
.desserts .menu-card:last-child {
  -webkit-animation-delay: 500ms;
          animation-delay: 500ms;
  -webkit-animation: FadeInBottom 1.6s both;
          animation: FadeInBottom 1.6s both;
}

@media screen and (min-width: 1025px) {
  .section-middle .cta {
    width: 25%;
  }
  .section-middle .section-middle__fonction {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 30px;
  }
  .section-middle .fas {
    left: 45px;
  }
  .section-middle p {
    font-size: 16px;
  }

  .section-bottom .liste-resto {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }

  .fa-arrow-left {
    margin-right: 190px;
  }

  .carte-title .fa-heart-main {
    width: 2%;
  }

  .menu-card__check {
    -webkit-transform: translateX(150px);
            transform: translateX(150px);
    width: 6%;
  }

  .menu-card:hover .menu-content {
    width: 93%;
  }

  .carte-resto .carte-menu .carte-menu__EPD {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .carte-resto .carte-menu .carte-menu__EPD .menu-card:hover .menu-content {
    width: 87%;
  }
  .carte-resto .carte-menu .carte-menu__EPD .menu-card__check {
    width: 13%;
  }
  .carte-resto .carte-menu .carte-menu__EPD .entree, .carte-resto .carte-menu .carte-menu__EPD .plats, .carte-resto .carte-menu .carte-menu__EPD .desserts {
    width: 33%;
  }

  footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  footer div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  footer ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 30px;
    margin-right: 30px;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .fa-arrow-left {
    margin-right: 180px;
  }

  .section-middle .section-middle__fonction {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 30px;
  }
  .section-middle .cta-resto, .section-middle .cta-menu, .section-middle .cta-repas {
    padding: 23px 10px 0 30px;
  }
  .section-middle .cta {
    padding: 20px;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    justify-content: center;
    align-items: center;
    width: 50%;
  }
  .section-middle .fa-mobile-alt,
.section-middle .fa-list-ul,
.section-middle .fa-store {
    margin-left: 0;
    position: absolute;
    left: 50px;
  }
  .section-middle .fct {
    left: -14px;
  }

  .section-bottom .liste-resto {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .section-bottom .card {
    width: 45%;
  }

  .nouveau {
    width: 25%;
  }

  .carte-title .fa-heart-main {
    width: 4%;
  }

  .carte-menu__EPD {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .carte-menu__EPD .menu-card:hover .menu-content {
    width: 87%;
  }
  .carte-menu__EPD .menu-card__check {
    width: 13%;
  }
  .carte-menu__EPD .entree, .carte-menu__EPD .plats, .carte-menu__EPD .desserts {
    width: 33%;
  }
  .carte-menu__EPD .menu-card:hover .menu-content {
    width: 90%;
  }
  .carte-menu__EPD .menu-card__check {
    width: 10%;
  }

  footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  footer div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  footer ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 10px;
    margin-right: 30px;
  }
}
@-webkit-keyframes FadeInBottom {
  from {
    opacity: 0;
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  to {
    opacity: 1;
  }
}
@keyframes FadeInBottom {
  from {
    opacity: 0;
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes AnimateHeartFirst {
  0% {
    stroke-dashoffset: 0;
  }
  30% {
    stroke-dashoffset: 1560;
  }
  60% {
    stroke-dashoffset: 3120;
    stroke: url(#MyGradient);
    fill: transparent;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  80% {
    fill: url(#MyGradient);
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  90% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    stroke-dashoffset: 3120;
    stroke: url(#MyGradient);
    fill: url(#MyGradient);
  }
}
@keyframes AnimateHeartFirst {
  0% {
    stroke-dashoffset: 0;
  }
  30% {
    stroke-dashoffset: 1560;
  }
  60% {
    stroke-dashoffset: 3120;
    stroke: url(#MyGradient);
    fill: transparent;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  80% {
    fill: url(#MyGradient);
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  90% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    stroke-dashoffset: 3120;
    stroke: url(#MyGradient);
    fill: url(#MyGradient);
  }
}
@-webkit-keyframes Loader {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    z-index: -1;
  }
}
@keyframes Loader {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    z-index: -1;
  }
}
@-webkit-keyframes AnimateLetter {
  0% {
    opacity: 0.1;
  }
  18% {
    opacity: 1;
  }
  24% {
    opacity: 0.3;
  }
  46% {
    opacity: 0.6;
  }
  85%, 100% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes AnimateLetter {
  0% {
    opacity: 0.1;
  }
  18% {
    opacity: 1;
  }
  24% {
    opacity: 0.3;
  }
  46% {
    opacity: 0.6;
  }
  85%, 100% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}/*# sourceMappingURL=styles.css.map */