$lightgreen: #99e2d0;
$text: #000000;
$background: #f6f6f6;
$carte: #fff;
$text-body: "Roboto", sans-serif;
$text-title: "Shrikhand", sans-serif;
$purple-icon: #9256dc;
$pink-icon: #ff79da;
$hover-btn: #f390d7;
$hover-2-btn: #a57ed4;
* {
  box-sizing: border-box;
}
p {
  font-family: $text-body;
}
a {
  list-style: none;
  text-decoration: none;
  color: #000000;
}
header {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding-top: 20px;
  padding-bottom: 15px;
  box-shadow: 1px 1px 16px rgba(0, 0, 0, 0.3);
  .logo,
  .logo__resto {
    width: 30%;
  }
}
.spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #f6f6f6;
  z-index: 5;
  opacity: 1;
  animation: Loader 0.8s 3.3s ease-out both;
  h1 {
    font-family: $text-title;
    font-size: 70px;
    background: -webkit-linear-gradient($pink-icon, $purple-icon);
    font-weight: 600;
    background-clip: text;
    color: transparent;
  }
  .spinner--O {
    animation: AnimateLetter 2s ease-in-out backwards;
  }
  .spinner--M {
    animation: AnimateLetter 100ms 2s ease-in-out backwards 4;
  }
  .spinner--F {
    animation: AnimateLetter 200ms 2s ease-in-out backwards 4;
  }
  .spinner--last {
    animation: AnimateLetter 300ms 2s ease-in-out backwards 4;
  }
}
.section-top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 60px;
  background-color: $background;
  .localisation {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $background;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 100%;
    .fa-map-marker-alt {
      font-size: 17px;
      margin-left: -17px;
      margin-right: 20px;
      padding-bottom: 6px;
    }
  }
  .recherche {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h2 {
      font-family: $text-body;
      width: 60%;
      text-align: center;
      margin-top: 35px;
      margin-bottom: 15px;
    }
    p {
      padding: 0;
      margin: 0;
      width: 70%;
      text-align: center;
      font-weight: 100;
    }
  }
}
.btn {
  background: linear-gradient($pink-icon, $purple-icon);
  padding: 15px;
  border-radius: 30px;
  margin-top: 30px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
  transition: ease-in-out 0.3s;
}
.btn:hover {
  background: linear-gradient($hover-btn, $hover-2-btn);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
}
.btn-cta {
  color: #ffffff;
  font-family: $text-body;
}
.container-all {
  display: flex;
  flex-direction: column;
}
.section-middle {
  display: flex;
  flex-direction: column;
  padding-top: 30px;
  margin-left: 20px;
  margin-bottom: 50px;
  h3 {
    font-family: $text-body;
    font-size: 25px;
  }
  .section-middle__fonction {
    display: flex;
    flex-direction: column;
  }
  .cta {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 450px;
  }
  .cta-resto,
  .cta-menu,
  .cta-repas {
    background-color: $background;
    margin-bottom: 15px;
    border-radius: 15px;
    padding: 10px;
    margin-left: 15px;
    cursor: pointer;
    transition: ease-in-out 0.2s;
    box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.12);
  }
  .cta-resto:hover,
  .cta-menu:hover,
  .cta-repas:hover {
    background-color: #e9ddf8;
    .fa-mobile-alt,
    .fa-list-ul,
    .fa-store {
      color: $purple-icon;
    }
  }
  .fct {
    background-color: $purple-icon;
    color: #fff;
    border-radius: 50%;
    padding: 5px 9px;
    position: absolute;
    left: -10px;
    font-size: 15px;
  }
  .fa-mobile-alt,
  .fa-list-ul,
  .fa-store {
    margin-left: 40px;
    color: grey;
  }
  .fa-mobile-alt {
    font-size: 20px;
  }
  .fa-list-ul {
    font-size: 18px;
  }
  .fa-store {
    font-size: 17px;
  }
  p {
    font-size: 18px;
    margin-left: 30px;
  }
}
.section-bottom {
  display: flex;
  flex-direction: column;
  background-color: $background;
  padding: 25px 20px;
  .liste-resto {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
    padding-bottom: 45px;
  }
  h3 {
    font-family: $text-body;
    font-size: 25px;
  }
  .card {
    background-color: #ffffff;
    width: 100%;
    max-width: 450px;
    border-radius: 20px;
    transition: all ease-in-out 0.3s;
    display: flex;
    flex-direction: column;
    position: relative;
    box-shadow: 1px 1px 16px rgba(0, 0, 0, 0.3);
  }
  .card:hover {
    transform: scaleX(1.03) scaleY(1.03);
    span {
      color: $purple-icon;
    }
  }
  .card .img-card {
    width: 100%;
    height: 240px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    object-fit: cover;
  }
  .contenu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    padding-right: 30px;
    line-height: 25px;
    .title-card {
      color: $text;
      margin-top: 5px;
      margin-bottom: 5px;
    }
    span {
      font-weight: 700;
      font-size: 17px;
      transition: all ease-in-out 0.2s;
    }
    p {
      font-weight: 300;
    }
    svg {
      width: 7%;
      overflow: visible;
    }
    .fa-heart-main {
      path {
        fill: transparent;
        stroke-width: 25;
        stroke: $text;
        stroke-dasharray: 1560;
        stroke-dashoffset: 0;
      }
    }
    .fa-heart-main:hover path {
      animation: AnimateHeartFirst 2s ease-in-out forwards;
    }
  }
}
figure {
  margin: 0;
}
.nouveau {
  background-color: $lightgreen;
  color: green;
  width: 20%;
  text-align: center;
  padding: 5px;
  position: absolute;
  left: 355px;
  margin-top: -230px;
}

footer {
  padding-top: 5px;
  padding-bottom: 5px;
  margin: 0;
  background-color: #333333;
  .logo-footer {
    color: #fff;
    font-family: $text-title;
    margin-left: 25px;
    font-size: 18px;
  }
  ul {
    padding-left: 25px;
  }
  li {
    list-style: none;
    text-decoration: none;
    a {
      color: #fff;
      font-family: $text-body;
      line-height: 27px;
      transition: all ease-in-out 0.2s;
    }
    .fa-utensils,
    .fa-hands-helping {
      color: #fff;
    }
  }
  li:hover > * {
    color: $lightgreen;
  }
  .fa-utensils {
    font-size: 15px;
    margin-right: 3px;
  }
  .fa-hands-helping {
    font-size: 11px;
    margin-right: 6px;
  }
  p {
    font-size: 15px;
  }
  li:first-child a {
    margin-left: 5px;
  }
}
.header-resto {
  display: flex;
  align-content: center;
}
.fa-arrow-left {
  color: $text;
  font-size: 18px;
  margin-right: 129px;
  margin-left: 30px;
}
.resto-francais {
  background-image: url(../assets/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
}
.resto-palette {
  background-image: url(../assets/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
}
.resto-enchantee {
  background-image: url(../assets/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
}
.resto-sens {
  background-image: url(../assets/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
}
.carte-resto {
  padding-top: 250px;
  .carte-menu {
    background-color: $background;
    padding: 10px 0 30px 20px;
    .btn-cta {
      padding: 15px 40px;
    }
  }
}
.bouton {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 60px;
}
.carte-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $background;
  padding: 40px 30px 0px 30px;
  border-radius: 40px 40px 0 0;
  h1 {
    font-family: $text-title;
  }
  .fa-heart {
    font-size: 25px;
    font-weight: 300;
  }
}
.titre-menu {
  padding-left: 10px;
  margin-top: 50px;
  .title-line {
    display: block;
    border: 2px solid $lightgreen;
    width: 9%;
    margin-top: -10px;
    padding: 0;
  }
}
.titre-menu > p {
  font-weight: 300;
  text-transform: uppercase;
}

.menu-card {
  background-color: #ffffff;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  margin-right: 20px;
  margin-top: 15px;
  padding: 5px 3px;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  position: relative;
  cursor: pointer;
  p {
    margin: 0;
    padding: 5px 10px;
  }
  .fa-check-circle {
    color: #fff;
    font-size: 25px;
  }
}
.menu-card__check {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $lightgreen;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 15%;
  border-radius: 0 15px 15px 0;
  transform: translateX(85px);
  transition: 400ms 50ms ease-in-out;
  i {
    transform: translateX(50px) rotate(0turn);
    transition: all 350ms 0.2s ease-in-out;
  }
}
.menu-card:hover .menu-card__check {
  transform: translatex(0);
  i {
    transform: translateX(0) rotate(1turn);
  }
}
.menu-card:hover .menu-content {
  width: 85%;
}

.titre-plats {
  font-weight: 700;
  font-size: 18px;
}
.menu-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-weight: 300;
  transition: 400ms 150ms;
}
.menu-content p:last-child {
  font-weight: 700;
}
.entree {
  transform: translateY(-5%);
  .menu-card {
    animation-delay: 300ms;
    animation: FadeInBottom 1.3s both;
  }
  .menu-card:nth-child(2) {
    animation: FadeInBottom 1s both;
  }
  .menu-card:last-child {
    animation-delay: 400ms;
    animation: FadeInBottom 1.6s both;
  }
}
.plats {
  transform: translateY(-5%);
  .menu-card {
    animation-delay: 400ms;
    animation: FadeInBottom 1.3s both;
  }
  .menu-card:nth-child(2) {
    animation: FadeInBottom 1s both;
  }
  .menu-card:last-child {
    animation-delay: 500ms;
    animation: FadeInBottom 1.6s both;
  }
}
.desserts {
  transform: translateY(-5%);
  .menu-card {
    animation-delay: 500ms;
    animation: FadeInBottom 1.3s both;
  }
  .menu-card:nth-child(2) {
    animation: FadeInBottom 1s both;
  }
  .menu-card:last-child {
    animation-delay: ยง00ms;
    animation: FadeInBottom 1.6s both;
  }
}

@media screen and (min-width: 992px) {
  header .logo {
    width: 15%;
  }
  .header-resto {
    .logo__resto {
      width: 38%;
    }
  }
  .section-middle .section-middle__fonction {
    flex-direction: row;
    justify-content: center;
    gap: 25px;
  }
  .section-middle .cta {
    width: 26%;
  }
  .section-middle .fct {
    position: relative;
    left: -54px;
  }
  .section-middle {
    .fa-mobile-alt,
    .fa-list-ul,
    .fa-store {
      margin-left: 0;
    }
  }
  .section-bottom .liste-resto {
    flex-direction: row;
    flex-wrap: nowrap;
  }
  .section-bottom{
    .contenu{
      svg{
        width: 10%;
      }
    }
  }
  
  .nouveau {
    width: 25%;
    left: 240px;
  }
  .carte-menu__EPD {
    display: flex;
  }
  .entree,
  .plats,
  .desserts {
    flex: 1;
  }
  footer {
    display: flex;
    justify-content: space-between;
    div {
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }
    ul {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 30px;
      margin-right: 30px;
    }
  }
}
@media (min-width: 769px) and (max-width: 991px){
  .section-middle{
    .section-middle__fonction{
      align-items: center;
    }
    .cta{
      justify-content: center;
      align-items: center;
    }
    .fct{
      left: 230px;
    }
    .fa-mobile-alt,
    .fa-list-ul,
    .fa-store {
      margin-left: 0;
    }
  }
  .section-bottom{
    .liste-resto{
      flex-direction: row;
      flex-wrap: wrap;
    }
    .card{
      width: 45%;
    }
  }
  .nouveau{
    left: 300px;
  }
  footer{
display: flex;
justify-content: space-between;
ul{
  display: flex;
  gap: 20px;
  margin-right: 20px;
}
  }
}

@keyframes FadeInBottom {
  from {
    opacity: 0;
    transform: translateY(100%);
  }
  to {
    opacity: 1;
  }
}
@keyframes AnimateHeartFirst {
  0% {
    stroke-dashoffset: 0;
  }
  30% {
    stroke-dashoffset: 1560;
  }
  60% {
    stroke-dashoffset: 3120;
    stroke: url(#MyGradient);
    fill: transparent;
    transform: scale(1);
  }
  80% {
    fill: url(#MyGradient);
    transform: scale(1.1);
  }
  90% {
    transform: scale(1);
  }
  100% {
    stroke-dashoffset: 3120;
    stroke: url(#MyGradient);
    fill: url(#MyGradient);
  }
}
@keyframes Loader {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    z-index: -1;
  }
}
@keyframes AnimateLetter {
  0% {
    opacity: 0.1;
  }
  18% {
    opacity: 1;
  }
  24% {
    opacity: 0.3;
  }
  46% {
    opacity: 0.6;
  }
  85%,
  100% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
