* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

p {
  font-family: "Roboto", sans-serif;
}

a {
  list-style: none;
  text-decoration: none;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  padding-top: 20px;
  padding-bottom: 15px;
  -webkit-box-shadow: 1px 1px 16px rgba(0, 0, 0, 0.3);
          box-shadow: 1px 1px 16px rgba(0, 0, 0, 0.3);
}
header img {
  width: 30%;
}

.section-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 60px;
  background-color: #f6f6f6;
}
.section-top .localisation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #eeeeee;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 100%;
}
.section-top .localisation .fa-map-marker-alt {
  font-size: 17px;
  margin-left: -17px;
  margin-right: 20px;
  padding-bottom: 6px;
}
.section-top .recherche {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.section-top .recherche h2 {
  font-family: "Roboto", sans-serif;
  width: 60%;
  text-align: center;
  margin-top: 35px;
  margin-bottom: 15px;
}
.section-top .recherche p {
  padding: 0;
  margin: 0;
  width: 70%;
  text-align: center;
  font-weight: 100;
}
.section-top .recherche .btn {
  background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(#FF79DA, #9356DC);
  padding: 15px;
  border-radius: 30px;
  margin-top: 30px;
}
.section-top .recherche .btn-cta {
  color: #ffffff;
  font-family: "Roboto", sans-serif;
}

.section-middle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 30px;
  margin-left: 20px;
}
.section-middle h3 {
  font-family: "Roboto", sans-serif;
  font-size: 25px;
}
.section-middle .cta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  max-width: 450px;
}
.section-middle .cta-resto, .section-middle .cta-menu, .section-middle .cta-repas {
  background-color: #f6f6f6;
  margin-bottom: 15px;
  border-radius: 15px;
  padding: 10px;
  margin-left: 15px;
  cursor: pointer;
}
.section-middle .cta-resto:hover, .section-middle .cta-menu:hover, .section-middle .cta-repas:hover {
  background-color: #e9ddf8;
}
.section-middle .cta-resto:hover .fa-mobile-alt, .section-middle .cta-resto:hover .fa-list-ul, .section-middle .cta-resto:hover .fa-store, .section-middle .cta-menu:hover .fa-mobile-alt, .section-middle .cta-menu:hover .fa-list-ul, .section-middle .cta-menu:hover .fa-store, .section-middle .cta-repas:hover .fa-mobile-alt, .section-middle .cta-repas:hover .fa-list-ul, .section-middle .cta-repas:hover .fa-store {
  color: #9356DC;
}
.section-middle .fct {
  background-color: #9356DC;
  color: #fff;
  border-radius: 50%;
  padding: 5px 9px;
  position: absolute;
  left: -3px;
  font-size: 15px;
}
.section-middle .fa-mobile-alt, .section-middle .fa-list-ul, .section-middle .fa-store {
  margin-left: 30px;
  color: grey;
}
.section-middle .fa-mobile-alt {
  font-size: 20px;
}
.section-middle .fa-list-ul {
  font-size: 18px;
}
.section-middle .fa-store {
  font-size: 17px;
}
.section-middle p {
  font-size: 18px;
  margin-left: 25px;
}

.section-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 20px;
}
.section-bottom .liste-resto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  gap: 20px;
  padding-bottom: 45px;
}
.section-bottom h3 {
  font-family: "Roboto", sans-serif;
  font-size: 25px;
}
.section-bottom .card {
  background-color: #ffffff;
  width: 100%;
  max-width: 450px;
  border-radius: 20px;
  -webkit-transition: ease-in-out 0.3s;
  transition: ease-in-out 0.3s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: 1px 1px 16px rgba(0, 0, 0, 0.3);
          box-shadow: 1px 1px 16px rgba(0, 0, 0, 0.3);
}
.section-bottom .card .img-card {
  width: 100%;
  height: 240px;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  -o-object-fit: cover;
     object-fit: cover;
}
.section-bottom figure {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.section-bottom figure .nouveau {
  background-color: #99E2D0;
  color: green;
  width: 20%;
  text-align: center;
  padding: 5px;
  position: absolute;
  left: 71%;
}
.section-bottom .contenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px;
  line-height: 25px;
}
.section-bottom .contenu .title-card {
  color: #000000;
  margin-top: 5px;
  margin-bottom: 5px;
}
.section-bottom .contenu span {
  font-weight: 700;
}
.section-bottom .contenu p {
  font-weight: 300;
}
.section-bottom .contenu .far {
  color: #000000;
}
.section-bottom .contenu .fa-heart {
  font-size: 25px;
  margin-top: 10px;
  margin-right: 15px;
}

footer {
  padding-top: 5px;
  padding-bottom: 5px;
  margin: 0;
  background-color: #333333;
}
footer .logo-footer {
  color: #fff;
  font-family: "Shrikhand", sans-serif;
  margin-left: 25px;
  font-size: 18px;
}
footer ul {
  padding-left: 25px;
}
footer li {
  list-style: none;
  text-decoration: none;
}
footer li a {
  color: #fff;
  font-family: "Roboto", sans-serif;
  line-height: 27px;
}
footer li .fa-utensils, footer li .fa-hands-helping {
  margin-right: 5px;
  font-size: 13px;
  color: #FFF;
}
footer li:first-child a {
  margin-left: 5px;
}

.img-background {
  background-color: #ffffff;
  width: 100%;
  max-width: 500px;
  border-radius: 20px;
  -webkit-transition: ease-in-out 0.3s;
  transition: ease-in-out 0.3s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.img-background .card img {
  width: 100%;
  height: 240px;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  -o-object-fit: cover;
     object-fit: cover;
}

.carte-resto .carte-menu {
  background-color: #fff;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.carte-resto .carte-menu h1 {
  font-family: "Shrikhand", sans-serif;
}
.carte-resto .carte-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 20px;
}
.carte-resto .carte-title .fa-heart {
  margin-right: 10px;
  font-size: 25px;
}/*# sourceMappingURL=styles.css.map */